html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 150vh;
}
.top-bar {
  position: fixed;
  width: 100%;
  border-bottom: 0.25px solid #e2e2e2;
  height: 7%;
  z-index: 10;
  background-color: white;
}

.left-title {
  display: flex;
}

.space {
  margin-right: 10px;
}

.inside-left-title a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.inside-left-title a:hover {
  text-decoration: underline;
}

.main-title {
  text-align: center;
}

.image {
  width: 196px;
  height: 26px;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  width: 84.3451%;
  align-items: center;
  margin: 0 auto;
}

.top-button {
  background-color: #326891;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 11px 12px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  cursor: pointer;
}
.right-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.right-button a {
  text-decoration: none;
}

.main-header {
  width: 100%;
  margin-top: 5%;
}
.description {
  width: 600px;
  height: 96px;
  margin: 0 auto;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: bold;
}

.picture-container,
.main-image img {
  width: 100%;
}

.main-image {
  margin: 1.6rem 18.47% 2.68rem 18.47%;
}
.bottom-text {
  width: 75%;
  font-size: 0.93rem;
  line-height: 1.25rem;
}

.bottom-text {
  color: #666;
}

.date {
  width: 32%;
  margin: 21px auto;
}
.Refence {
  width: 100%;
  margin: 0;
}
.Refence a {
  color: black;
}
.Refence a:hover {
  text-decoration: none;
}
.media {
  display: flex;
  justify-content: space-between;
}
.round {
  border: 1px #eee solid;
  border-radius: 100%;
  /* display: inline-block; */
  height: 15px;
  vertical-align: middle;
  width: 15px;
  background-color: #eee;
  border: 1px #eee solid;
  color: black;
  border-radius: 100%;
  padding: 5px;
  width: 15px;
  height: 15px;
}
.round:hover {
  background-color: white;
  cursor: pointer;
}
.inside-date {
  width: 58%;
}

.media-icons {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.media-icons a {
  text-decoration: none;
}

.containers {
  width: 100%;
  display: flex;
  justify-content: center;
}
.subcontainer {
  width: 63.1%;
  display: grid;
  grid-template-columns: 24.5% 50.5% 7.5% 17.5%;
}

.one {
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin: 0 0 1rem 0;
}

.midle-link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.midle-link p {
  width: 100%;
  text-align-last: center;
}
.grid-item4 {
  display: grid;
  justify-content: center;
  grid-column: 4/5;
}
.side-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: baseline;
  grid-gap: 5px;
}

.sidebar-title {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.sidebar-title h2 {
  margin-bottom: 0;
  font-size: 14px;
}
.item {
  display: grid;
}

.item a {
  color: rgb(51, 51, 51);
}
.item a:hover {
  text-decoration: underline;
}

.inside-img {
  width: 100%;
}

.grid-item2 {
  grid-row: 1/1;
  grid-column: 2/3;
}
.grid-item4 p {
  width: 100%;
}
.choices {
  display: grid;
  grid-template-columns: repeat(150px, 1fr);
  grid-gap: 5px;
  margin: 5px 7px 10px 5px;
}

.choices img {
  width: 100%;
}
.takeit {
  display: flex;
  width: 100%;
  font-size: small;
}

.middle-container {
  display: flex;
  justify-content: center;
}
.icons-universe {
  width: 49.66%;
  display: grid;
  justify-content: first start;
  align-content: flex-start;
}

.icons-universe > p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  font-family: nyt-cheltenham-sh, georgia, "times new roman", times, serif;
  color: rgb(102, 102, 102);
}

.icons-universe > h1 {
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  font-style: normal;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}

.outside-container {
  display: flex;
  justify-content: center;
}

.pic-constainer {
  width: 49.66%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.insidegrid-title {
  font-weight: bold;
}

.separation p {
  margin-bottom: 40px;
}
.img-p {
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 0.891em;
  line-height: 1.1em;
  font-weight: 300;
  color: #000000;
}
.video {
  margin: 0 auto;
  width: 600px;
}
.video p {
  color: #888;
}

.main-pic {
  width: 720px;
  margin: 0 auto;
}
.main-pic img {
  width: 720px;
}
.main-pic p {
  color: #666;
}
.Above-Comment {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(102, 102, 102);
  margin: 0px auto 1em;
}
.Above-Comment a {
  color: rgb(102, 102, 102);
}

.Above-Comment a:hover {
  text-decoration: none;
}

.footer-button button {
  background-color: rgb(86, 123, 149);
  color: white;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(50, 104, 145);
  border-image: initial;
  border-radius: 3px;
  padding: 5px 0px;
  transition: background-color 0.6s ease 0s;
}

.footer-comments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.media-icons-bottom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.media-icons-bottom a {
  margin-left: 10px;
}

.midle-link a {
  color: rgb(50, 104, 145);
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}
.pic-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pic-discrip {
  width: 63.1%;
  display: grid;
  grid-template-columns: 71% 29%;
}

.title-description h2 {
  font-size: medium;
  color: black;
  border-top: 1px solid black;
  padding-top: 17px;
}
.title-description a {
  text-decoration: none;
}

.astronomy {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.Editor {
  grid-column: 1 / -1;
}
.Editor span {
  font-weight: 700;
}
.inside-grid {
  width: 100%;
}
.little-text {
  font-size: x-small;
  text-align: right;
  color: rgb(153, 153, 153);
}
.item > a > h3 {
  margin: 0;
}

.little-text-left {
  text-align: left;
  font-size: small;
  color: rgb(153, 153, 153);
}

.sidebar-links {
  padding-left: 30px;
}

.side-links h2,
.item h3 {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 1.1875rem;
  line-height: 1.4375rem;
  color: black;
  margin-top: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: normal;
}
.side-links h2 {
  border-top: 1px solid rgb(226, 226, 226);
}
.side-links a,
.item a {
  text-decoration: none;
}
.side-links h2:hover,
.item h3:hover {
  color: #666666;
}

.foot-container,
.foot-nav {
  width: 63%;
  margin: 0 auto;
}
.foot-container {
  margin-bottom: 10px;
}
.foot-container::before {
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
  content: "";
  display: block;
  height: 1px;
  margin-top: 0;
}
.header-right {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
}
.header-right a {
  text-decoration: none;
  color: rgb(86, 123, 149);
}
.foot-header,
.foot-main {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}
.foot-item h2 {
  margin: 0;
  color: rgb(51, 51, 51);
  font-size: 13px;
  font-weight: 700;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  height: 25px;
  line-height: 15px;
  text-transform: uppercase;
  width: 150px;
  margin: 0px;
}
.foot-item a {
  text-decoration: none;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  height: 23px;
  line-height: 23px;
  margin-bottom: 10px;
}
.foot-item a:hover {
  text-decoration: underline;
}
.foot-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.foot-subscribe {
  border-left: 1px solid rgb(226, 226, 226);
  padding-left: 15px;
}

.last-ul-style {
  border-top: 1px solid rgb(226, 226, 226);
  padding-top: 15px;
}
.icon-sub {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 7px;
  vertical-align: middle;
}
.sub-top a {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  text-transform: capitalize;
  width: 150px;
  font-size: 16px;
  font-weight: 700;
  height: 25px;
  line-height: 15px;
  padding-bottom: 0px;
  text-decoration: none;
}
.sub-top li {
  margin-bottom: 10px;
}
.small-ul a {
  font-size: 11px;
}

.inline-link {
  color: #326891;
}
.inline-link:hover {
  text-decoration: none;
}

.foot-nav-items {
  border-top: 1px solid #ebebeb;
  padding-top: 9px;
  padding-bottom: 25px;
}

.foot-nav-items ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.foot-nav-items a {
  color: #666;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 10px;
  text-decoration: none;
}
.foot-nav-items a:hover {
  text-decoration: underline;
}
