body {
  margin: 0;
  padding: 0;
  height: 150vh;
}
.top-bar {
  position: fixed;
  width: 100%;
  border-bottom: 0.25px solid #e2e2e2;
  height: 10%;
}

.left-title {
  display: grid;
  grid-template-columns: 50% 50%;
}

.space {
  margin-right: 25px;
}

.left {
  margin-left: 80px;
}

.inside-left-title a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.inside-left-title a:hover {
  text-decoration: underline;
}

.main-title {
  text-align: center;
}

.image {
  width: 196px;
  height: 26px;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  /* grid-template-columns: repeat(3, 1fr); */
  width: 100%;
  align-items: center;
}

.top-button {
  background-color: #326891;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 11px 12px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  cursor: pointer;
}
.right-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.right-button a {
  text-decoration: none;
}

.main-header {
  width: 100%;
  margin-top: 5%;
  /* text-align: center; */
}
.description {
  width: 600px;
  height: 96px;
  margin: 0 auto;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: bold;
}

.picture-container {
  width: 100%;
}

.main-image img {
  width: 100%;
}
.main-image {
  margin: 1.6rem 18.47% 2.68rem 18.47%;
}
.bottom-text {
  width: 75%;
  font-size: 0.93rem;
  line-height: 1.25rem;
}

.date {
  width: 32%;
  margin: 0 auto;
}
.Refence {
  width: 100%;
  margin: 0 auto;
}
.media {
  display: flex;
  justify-content: space-between;
}
.round {
  border: 1px #eee solid;
  border-radius: 100%;
  /* display: inline-block; */
  height: 15px;
  vertical-align: middle;
  width: 15px;
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
  padding: 5px;
  width: 15px;
  height: 15px;
}
.round:hover {
  background-color: white;
  cursor: pointer;
}

.media-icons a {
  text-decoration: none;
}
.containers {
  /* margin: 0 18.47% 2.68rem 18.47%; */
  width: 100%;
  display: flex;
  justify-content: center;
}
.subcontainer {
  width: 63%;
  display: grid;
  grid-template-columns: 25% 50% 12.5% 12.5%
  /* grid-template-columns: repeat(4, 1fr); */
}

.grid-item2 {
  
  
/* .display { */
/* display: flex; */
/* } */
/*  */
/* .whatever { */
/* width: 31%; */
/* margin-left: 5.6rem; */
/* } */
/*  */
/* .testing{ */
/* margin-left: 18.25rem; */
/* } */
/* } */

/* .one { */
/* width: 50%; */
/* } */
/*  */
